body{margin: 0;

height: 100vh;
background-color: rgb(102, 178, 245);
display: flex;
justify-content: center;
align-items: center;}
.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 4px 8px rgba(0,0,0,0.8);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: chocolate;
    /*width:20px;
    height: 20px;*/

    /*top:50%;
  left: 50%;*/
  top:var(--yPos);
  left:var(--xPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;

}
.btn:hover::before{
    width:300px;
    height: 300px;
}